<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1> Goodbye </h1>
	<p>
		It was nice having you here ^-^
	</p>
	
</body>
</html>