<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1> Hello from Rails</h1>
	<p>
		Time to say 
		<%= link_to "goodbye", say_goodbye_path %>!
	</p>
</body>
</html>